
<% if(hasInputs && hasOutputs){ %>
<cmf-core-connect-iot-taskSettings [showInputsTab]="true" [showOutputsTab]="true">
<% } else if(hasInputs){ %> 
<cmf-core-connect-iot-taskSettings [showInputsTab]="true">
<% } else if(hasOutputs){ %> 
<cmf-core-connect-iot-taskSettings [showOutputsTab]="true">
<% } else{ %> 
<cmf-core-connect-iot-taskSettings>
<% } %>

    <cmf-core-controls-baseWidget [mainTitle]="i18n.SETTINGS">
        <!-- Add settings here -->
    </cmf-core-controls-baseWidget>
    
</cmf-core-connect-iot-taskSettings>